# Use postgres/postgres user/password credentials
version: "3.1"

services:
  postgres:
    image: postgres
    restart: always
    environment:
      POSTGRES_PASSWORD: postgres
    command: -c fsync=off
    ports:
      - 5432:5432
